@import url(default.css);
@import url(font.css);
@import url(common.css);

header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
}
header .logo{
    margin: 35px 0 0 0;
}
header .inner{
    display: flex;
    align-items: center; /* 위아래 가운데 */
    gap: 65px;
}
header .inner .gnb ul{
    display: flex;
}
header .inner .gnb ul li a{
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 100px;
    /* header의 높이랑 1차 메뉴의 a의 높이는 같아야함.. a에 행간을 header의 높이값으로 줌
        a의 높이가 생기고 글자는 위아래 가운데 정렬 */
    padding: 0 23px;
}
header .inner .shop{
    font-size: 20px;
    font-weight: 800;
    color: #3d5718;
    border: 1px solid #3d5718;
    padding: 2px 26px;
    border-radius: 17px;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 700px;
    margin: 0 30px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}
.visual h2{
    font-size: 45px;
    font-weight: 800;
    letter-spacing: -0.03em;
    padding: 257px 0 15px 0;
}

.product{
    margin: 158px 0 0 0;
}
.product .tit h2{
    color: #3d5718;
}
.product .tit p{
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    letter-spacing: -0.03em;
    margin: 7px 0 0 0;
}
.product .list{
    margin: 38px 0 0 0;
}
.product .list ul{
    display: flex;
}
.product .list ul li{
    width: 404px;
}
.product .list ul li a{
    display: block;
}
.product .list ul li a .photo{
    font-size: 0;
    line-height: 0;
    /* 이미지하단에 여백을 삭제하기 위해서 */
}
.product .list ul li a h3{
    font-size: 20px;
    color: #1d1d1d;
    margin: 20px 0 0 0;
    /* 1줄로 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.network{
    background: url(../images/network_bg.jpg) no-repeat center center / cover;
    margin: 126px 0 0 0;
    height: 800px;
    color: #fff;
}
.network h2{
    padding: 333px 0 0 0;
}
.network .sub_tit{
    font-size: 45px;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin: 6px 0 6px 0;
    color: #fff;
}
.network a{
    display: inline-block;
    font-size: 13px;
    border: 1px solid #fff;
    padding: 9px 25px;
    border-radius: 19px;
    margin: 46px 0 0 0;
}

footer{
    margin: 400px 0 0 0;
}