@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #555;
    line-height: 1.5;
    word-break: keep-all;
    letter-spacing: -0.01em;/*디자인과 자간이 잘 맞지 않을때 넣어도 됨*/
}
/* START :: 태그 스타일의 초기화 (브라우저가 준 스타일 삭제) */
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
    /* inherit : 브라우저가 주는 값 말고 내가 상속해주는 값이나 받으라는 뜻 */
}
strong{
    font-weight: inherit;
}
li{
    list-style: none;/* li 앞에 동그라미 삭제 */
}
a{
    color: inherit;
    text-decoration: none; /* 밑줄삭제 */
}
/* END :: 태그 스타일의 초기화 (브라우저가 준 스타일 삭제) */

.wrapper{
    width: 1260px;
    margin: 0 auto;
}
.esg{
    background-image: url(../images/esg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* 배경꽉채우기 */
    height: 835px;
    color: #fff;
}